body{
    background-color: #f8c5c5;
    margin: 0;
    padding: 0;
    }

.navBar{
    margin-bottom: 30px;
    padding: 5px;
    width: 100%;
    background-color: rgb(13, 61, 63);
    color: aqua;    
    text-align: center;
    font-size:xx-large ;
}

.footer{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    
    background-color: rgb(13, 61, 63);
    color: aqua;    
    text-align: center;
    font-size:medium ;
}
.buttonList{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#barComponent{
    width: 60%;
    margin: auto;
    margin-top: 6vh;
}

.eachBar{
    margin: 2px;
    background-color: blue;
    color: blue; 
    height: 4vh;   
}
.button {    
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
.button:hover {opacity: 1}

.buttonList{
    flex: auto;
}